<div class="container">
  <div class="welcome">
    <div class="equalizer">
      <div class="talkyWord">
        <h1>TALKY</h1>

      </div>
      <div class="talkyPic">

      </div>

    </div>

    <div class="coonect">
      <div class="connect">
        <h1>Connect!</h1>
        <p> By Venum</p>

      </div>
      <div class="enter">
        <a routerLink="/signin">Signin</a>
        <a routerLink="/signup">Signup</a>
      </div>
    </div>
    <div class="message">
      <div class="theMessage">
        <h1>Stories, feed, Corouse! <br>
        Connect with the world, share your <br>
      stories, moments and experiences</h1>
      </div>
    </div>
    <div class="globe">
      <div class="globeMessage">
        <h1>Share you experiences and moments with others across<br>the globe with talky</h1>
      </div>

    </div>
    <div class="pictures">
      <div class="profile">
        <div class="pic">
          <img [src]="photo">

        </div>
        <div class="messagePic">
          <h1>{{message}}</h1>

        </div>

      </div>

    </div>
    <div class="footer">
      <div class="business">
        <h1>Business</h1>

      </div>
      <div class="Services">
        <h1>Services</h1>

      </div>
      <div class="About">
        <h1>About</h1>

      </div>
      <div class="Features">
        <h1>Features</h1>

      </div>
    </div>

  </div>

</div>
