<div *ngIf="container1" class="container">
  <div class="talky">

  </div>

  <div id="signincontainer">
    <p *ngIf="line" class="line"></p>
    <div *ngIf="message" class="mesage">
      <p style="color: blue;" id="response">{{ loginError }}</p>
    </div>
    <div class="welcome">
      <div class="message">
        <h1>TALKY</h1>
        <P>Sorry for the inconvinience lets get you back in a momento see photos, posts and<br>
        </P>
      </div>
      <div class="formcontainer">
        <form id="signup-form" (ngSubmit)="requestResetPassword()">
          <input type="text" placeholder="email" [(ngModel)]="email" name="email" data-cy="email">
          <p style="text-align: center; color: #C4C4C4;">Enter your email to get back <br> to Talky</p>
          <button type="submit" data-cy="resetPwd-btn" value="Submit">Reset password</button>
        </form>
      </div>
    </div>
    <p style="color:red">{{errorMessage}}</p>
    <p style="color: #0094F5;">{{successMessage}}</p>

    <div class="login">
      <a routerLink="/signin">Signin </a>
    </div>
  </div>

</div>

<div *ngIf="container2" class="container">
  <div class="talky">

  </div>

  <div id="signincontainer">
    <p *ngIf="line" class="line"></p>
    <div *ngIf="message" class="mesage">
      <p style="color: blue;" id="response">{{ loginError }}</p>
    </div>
    <div class="welcome">
      <div class="message">
        <h1>TALKY</h1>
        <P>Enter your email and new password to rest<br>
        </P>
      </div>
      <div class="formcontainer">
        <form id="signup-form" (ngSubmit)="resetPassword()">
          <input type="text" placeholder="email" [(ngModel)]="email" name="userName" data-cy="userName">
          <p style="text-align: center; color: #C4C4C4;">Enter your email to get back <br> to Talky</p>
          <label>Token from Email</label>
          <input type="text" placeholder="token" [(ngModel)]="token" name="token">
          <label>New Password</label>
          <input type="password" placeholder="password" [(ngModel)]="newPassword" name="newPassword">
          <!-- <label>ConfirmPassord</label> -->
          <button type="submit" data-cy="resetPwd-btn" value="Submit">Reset password</button>
        </form>
      </div>
    </div>
    <p style="color:red">{{errorMessage}}</p>
    <p style="color: #0094F5;">{{successMessage}}</p>

    <div class="login">
      <a routerLink="/signin">Signin </a>
    </div>
  </div>

</div>
