<div class="container">
  <div class="navigation">
    <div class="parts">
      <img src="../../assets/talk.png" alt="" style="height: 20vh;border-radius: 50%;">
    </div>

    <div class="parts">
      <button (click)="viewHome()"><span style="border: solid 0px;" class="material-symbols-outlined">
          home
        </span>Home</button>
    </div>
    <div class="parts">
      <button><span style="border: solid 0px;" class="material-symbols-outlined">
          search
        </span>Explore</button>
    </div>

    <div class="parts">
      <button (click)="exit()" data-cy="exit"><span style="border: solid 0px;" class="material-symbols-outlined">
          exit_to_app
        </span>Exit</button>
    </div>

    <div class="parts">
      <button (clickOutside)="onClickedOutside($event)" (click)="mores()" data-cy="more"><span style="border: solid 0px;"
          class="material-symbols-outlined">
          expand_circle_up
        </span>More</button>
    </div>

    <div *ngIf="moret" class="more">
      <div class="parts">
        <button (click)="logout()"><span style="border: solid 0px;" class="material-symbols-outlined">
            logout
          </span>Logout</button>
      </div>
      <div class="parts">
        <button (click)="profileView()"><span style="border: solid 0px;" class="material-symbols-outlined" data-cy="profile">
            account_circle
          </span>Profile</button>
      </div>
    </div>

    <div class="post">
      <button (click)="POST()" data-cy="activatePost">Post</button>
    </div>
    <div *ngIf="modal" class="modal"></div>
    <div *ngIf="postss" class="postsD">
      <p *ngIf="sentSuccess" style="background-color:#0094f5; padding: 10px;color:antiquewhite">Sent successfully</p>
      <button (click)="cancel()" id="cancel">X</button>
      <div class="postContent">
        <img [src]="matchingUserDp" alt="userProfile">
        <textarea type="text" [(ngModel)]="content" name="content" placeholder="Whats on your mind .." data-cy="postContent"></textarea>
      </div>
      <div class="postMedia">
        <div class="galleryPost">
          <div class="phot">
            <label class="material-symbols-outlined" for="fileInput">
              add_photo_alternate
            </label>
            <input type="file" name="postPic" id="fileInput" (change)="previewImage($event)"
              (change)="onSelected($event)">
          </div>
        </div>
        <img class="" *ngIf="imagePreview" [src]="imagePreview" alt="Image Preview" id="imagePreview"
          (click)="closePreview()">
        <button (click)="sharePost()" data-cy="sharePost">POST</button>
      </div>
    </div>
  </div>

  <!-- profiles and feeds -->
  <div class="functions">
    <!-- user and other's profiles -->
    <!-- userProfile -->
    <div *ngIf="profile" class="profileManage">
      <div *ngIf="mine" class="profileBar">
        <div class="profilePhoto" (click)="openProfile()">
          <img [src]="matchingUserDp">
          <ng-template #defaultImage>
            <img [src]="'../../assets/talk.png'" alt="Default Image">
          </ng-template>
        </div>
        <div *ngIf="changeModal" class="changeModal">
          <button>Remove</button>
          <button (click)="openFileInput()">Update</button>
          <button (click)="closePic()">Cancel</button>
        </div>
        <div class="galleryPos" style="height: 15px;">
          <div class="phot">
            <input type="file" name="profilePic" id="fileInput" (change)="onImageSelected($event)">
          </div>
        </div>
        <div *ngIf="modalProfileUpdate" class="modalProfileUpdate">
          <div class="butts">
            <button (click)="closePic2()" style="padding: 15px;border-radius: 5px;cursor: pointer;font-size: medium;
            ">Close</button>
          </div>
          <div class="picUpdate" style="position: relative;">
            <img *ngIf="imagePreview" [src]="imagePreview" alt="Image Preview" id="imagePreview2">
            <button (click)="updateDp()" style="position: absolute;bottom: 7px;right: 5px;border-radius: 50%;
            background-color: #0094f5;height: 7vh;width: 3vw;display: flex;justify-content: baseline;align-items: center;
            cursor: pointer;font-size: 14px;color: #fff;">Update</button>
          </div>
        </div>

        <div class="userDetails">
          <h1>{{profileName}}</h1>
          <div class="numbers">
            <div class="follow">
              <p>{{ matchingUserFollowCount}} Followers</p>
              <p>{{ matchingUserFollowingCount}} Following</p>
            </div>
            <button *ngIf="edits" (click)="edit()" data-cy="editProfile">Edit Profile</button>
          </div>

        </div>
      </div>

      <!-- otherUser profile -->
      <div *ngIf="specificUser" class="profileBar">
        <div class="profilePhoto">

          <img *ngIf="otherUser.imagePath; else defaultImage" [src]="otherUser.imagePath" alt="user image">
          <ng-template #defaultImage>
            <img [src]="'../../assets/talk.png'" alt="Default Image">
          </ng-template>

        </div>
        <div class="userDetails">
          <h1>{{otherName}}</h1>
          <p style="display: none;">{{otherID}}</p>
          <div class="numbers">
            <div class="follow">
              <p><span style="font-weight: bold;"> {{otherFollowCount}}</span>Followers </p>
              <p><span style="font-weight: bold;"> {{otherFollowingCount}} </span>Following</p>
            </div>
            <button *ngIf="folUser" (click)="followUser(otherID)" [class.active]="isFollow">Follow</button>
            <button *ngIf="unfolUser" (click)="unfollowUser(otherID)" [class.active]="isUnfollow">Unfollow</button>
          </div>
        </div>
      </div>

      <!-- personal profile contents -->
      <div *ngIf="personalContent" class="content">
        <div class="bar">
          <div class="barParts">
            <button (click)="getUserPosts()" [class.active]="linep">Post</button>
          </div>
          <div class="barParts">
            <button (click)="getFollowers()" [class.active]="linefl" data-cy="followers">Followers</button>
          </div>
          <div class="barParts">
            <button (click)="getFollowing()" [class.active]="lineFollowing" data-cy="following">Following </button>
          </div>
        </div>

        <div *ngIf="generalFollower" class="general">
          <div *ngIf="followerss.length <1;" class="noFollowers">
            <p>No followers yet.</p>
          </div>
          <div *ngFor="let follower of followerss" class="follower">
            <img [src]="follower.imagePath" alt="">
            <p style="font-weight: bold;">{{follower.userName}}</p>
            <button>View</button>
          </div>
        </div>

        <div *ngIf="magic" class="general">
          <div *ngIf="followings.length <1;" class="noFollowers">
            <p>Not following yet.</p>
          </div>
          <div *ngFor="let following of followings" class="follower">
            <img *ngIf="following.imagePath; else defaultImage" [src]="following.imagePath" alt="">
            <ng-template #defaultImage>
              <img src="../../assets/talk.png" alt="Default Image">
            </ng-template>
            <p style="font-weight: bold;">{{following.userName}}</p>
            <button>View</button>
          </div>

        </div>

        <div *ngIf="userPosts" class="postsC">

          <div *ngFor="let post of userPostss" class="feed">
            <div *ngIf="changeModalUserPosts" class="pot">
              <button (click)="confirmDelete()" data-cy="confirmDelete">delete</button>
              <button (click)="CancelDelete()" data-cy="cancelDelete">Cancel</button>
            </div>

            <div class="speak">
              <div class="speakImage">
                <img [src]="matchingUserDp">
                <ng-template #defaultImage>
                  <img [src]="'../../assets/talk.png'" alt="Default Image">
                </ng-template>
              </div>
              <div class="speakMessage">
                <div class="speakDetails">
                  <h3>{{post.userName}} <span style="font-size: 20px;color: #575555;">{{post.timeDifference}}</span>
                    <span><button (click)="deletePost(post.postID)" data-cy="deletePost">...</button></span>
                  </h3>
                </div>
                <p style="color: rgb(82, 77, 77);">{{post.content}}</p>
                <img *ngIf="post.postPic !== null" [src]="post.postPic" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- other profile contents -->
      <div *ngIf="otherContent" class="content">
        <div class="bar">
          <div class="barParts">
            <div class="line" *ngIf="linep"></div>
            <button (click)="getUserPosts()">Posts</button>
          </div>
          <div class="barParts">
            <div class="line" *ngIf="linem"></div>
            <button (click)="media()">Media</button>
          </div>
          <div class="barParts">
            <button (click)="getFollowers()" *ngIf="linefl">Followers</button>
          </div>
          <div class="barParts">
            <div class="line" *ngIf="linel"></div>
            <button (click)="getFollowing()">Following </button>
          </div>
        </div>

        <div *ngIf="generalFollower" class="general">
          <div *ngIf="folowers" class="follower">
            <img src="{{image}}" alt="">
            <p style="font-weight: bold;">userName </p>
            <button>Follow</button>
            <button>View</button>
          </div>
        </div>

        <div *ngIf="generalFollower" class="general">
          <div *ngIf="folowing" class="follower">
            <img src="{{image}}" alt="">
            <p style="font-weight: bold;">useName </p>
            <button>Follow</button>
            <button>View</button>
          </div>
        </div>

        <div *ngIf="userPosts" class="postsC">
          <div class="postCard">
            <p>Post</p>
            <img src="{{image}}" alt="">
          </div>
          <div class="postCard">
            <p>Post</p>
            <img src="{{image}}" alt="">
          </div>
          <div class="postCard">
            <p>Post</p>
            <img src="{{image}}" alt="">
          </div>

        </div>
      </div>
    </div>

    <!-- default feeds -->
    <div *ngIf="feeds" class="feeds">
      <div class="foll">
        <button (click)="seeMore()" class="seeMore">Options</button>
        <button (click)="yourFollower()" data-cy="feeds">Following</button>
        <button (click)="yourFollowin()" data-cy="recommended">For you </button>
      </div>

      <div *ngFor="let post of allPostss" class="feed">
        <div class="speak" (click)="viewPost(post)" data-cy="viewPost">
          <div class="speakImage">
            <img [src]="post.imagePath">
            <ng-template #defaultImage>
              <img [src]="'../../assets/talk.png'" alt="Default Image">
            </ng-template>
          </div>
          <div class="speakMessage">
            <div class="speakDetails">
              <h3>{{post.userName}} <span style="font-size: 20px;color: #575555;">{{post.timeDifference}}</span></h3>
            </div>
            <p style="color: rgb(82, 77, 77);">{{post.content}}</p>
            <img *ngIf="post.postPic !== null" [src]="post.postPic" alt="">
          </div>

        </div>

        <div class="impress">
          <button (click)="likePost(post.postID, post.userName, post.userID)"
            [class.active]="postLikeStates[post.postID]" data-cy="likePost">
            <span class="material-symbols-outlined" [class.active]="postLikeStates[post.postID]"
              style="border: solid 0px;font-weight: lighter;">favorite</span>
            <span class="fav" style="font-size: medium;"
              [class.active]="postLikeStates[post.postID]">{{post.likesCount}}</span>
          </button>
          <button (click)="commentPost(post)" data-cy="activateCommentOnPost"> <span class="material-symbols-outlined"
              style="border: solid 0px;font-weight: lighter;">
              comment
            </span></button>

          <div *ngIf="modal" class="modal"></div>
          <div *ngIf="postss1" class="postsD" style="height: 60vh;width:40vw;padding: 20px;border-radius: 15px;">
            <p *ngIf="sentSuccess" style="background-color:#0094f5; padding: 10px;color:antiquewhite">Sent
              successfully
            </p>
            <button (click)="cancel()" id="cancel">X</button>
            <div class="postContent" style="height: auto;min-height: 3vh;">
              <img src="{{image}}" alt="" style="height: 6vh;width: 3vw;">
              <p style="font-weight: bold;">{{userName}}</p>
            </div>
            <div class="reply" style="width: 30vw;min-height: 3vh;overflow-y:auto;font-size: 25px;">
              <p>{{postContent}}</p>
            </div>

            <div class="postContent" style="height:auto; display: flex;align-items: flex-start;">
              <img src="{{image}}" alt="" style="height: 6vh;width: 3vw;">
              <textarea type="text" [(ngModel)]="textPost2" placeholder="Post your reply  .."
                style="min-height: 6vh;border: solid blue 2px;" data-cy="commentOnPostContent"></textarea>
            </div>
            <div (click)="commentOnPost(post.userName,post.userID)" class="postMedia"
              style="text-align: center;height: 7vh;width: 40vw;">
              <button style="background-color: #0094f5;color: #fff;text-align: center;width: 10vw;display: flex;align-items: center;
              justify-content: center;margin-left: 35vw;margin-top: 25px;" data-cy="commentOnPost">REPLY</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="commentFeeds" class="feeds">
      <div class="foll">
        <button (click)="yourFollower()">Following</button>
        <button>For you </button>
      </div>

      <div class="commentFeed">
        <div class="postContent" style="height: auto;min-height: 3vh;">
          <img src="{{image}}" alt="" style="height: 6vh;width: 3vw;border-radius: 50%;">
          <p style="font-weight: bold;">{{postUserName}}</p>
        </div>
        <div class="reply" style="width: 30vw;min-height: 3vh;overflow-y:auto;font-size: 25px;">
          <p>{{postContent}}</p>
          <img *ngIf="postPic !== null" [src]="postPic" alt="">
        </div>

        <div class="postContent" style="height:auto; display: flex;align-items: flex-start;">
          <img src="{{matchingUserDp}}" alt="" style="height: 6vh;width: 3vw;border-radius: 50%;">
          <textarea type="text" [(ngModel)]="textPost2" placeholder="Post your reply  .."
            style="min-height: 6vh;border: solid #d9d9d9 2px;"></textarea>
        </div>
        <button class="commentButton"> POST</button>

      </div>

      <div *ngFor="let comment of postComments" class="comments">
        <div class="postContent" style="height: auto;min-height: 3vh;">
          <img src="{{image}}" alt="" style="height: 6vh;width: 3vw;border-radius: 50%;">
          <p style="font-weight: bold;">{{comment.userName}}</p>
        </div>
        <div (click)="viewCommentsOnComment(comment)" class="replic" data-cy="viewCommentsOnComment">
          <p>{{comment.content}}</p>
        </div>
        <div class="impress">
          <button (click)="commentComment(comment.commentID,comment.postID)"><span class="material-symbols-outlined"
            >comment</span></button>
          <button (click)="likeCommentComment(comment.commentID)"
            [class.active]="postLikeStates[comment.commentID]">
            <span class="material-symbols-outlined" [class.active]="postLikeStates[comment.postID]"
              style="border: solid 0px;font-weight: lighter;">favorite</span>
            <span class="fav" style="font-size: medium;"
              [class.active]="postLikeStates[comment.commentID]">{{comment.likesCount}}</span>
          </button>
          <!-- <button style="font-size: 30px;cursor: pointer;"  (click)="popEditComment(comment.commentID, comment.userID)">...</button> -->
        </div>
        <div *ngIf="comment.commentID == iisClickedId"  [class.highlightedEditPanel]="comment.commentID == isClickedId" 
        class="editPanel">
          <input type="text" placeholder="edit comment" [(ngModel)]="updateContent" > <span><button (click)="editCooment()">Edit</button></span>
          <button (click)="closeUpdate()">close</button>

        </div>

        <div *ngIf="comment.commentID == isClickedId ">
          <div *ngIf="commentOnComment" class="postsD1" style="height: 60vh;width:40vw;padding: 20px;border-radius: 15px;">
            <button (click)="cancel2()" id="cancel">X</button>

            <div class="postContent" style="height:auto; display: flex;align-items: flex-start;">
              <img src="{{image}}" alt="" style="height: 6vh;width: 3vw;border-radius: 50%;">
              <p style="font-weight: bold;">{{comment.userName}}</p>
            </div>
            <div class="reply" style="width: 30vw;min-height: 3vh;overflow-y:auto;font-size: 25px;">
              <p >{{comment.content}}</p>
            </div>
            <div class="postContent" style="height:auto; display: flex;align-items: flex-start;">
              <img src="{{image}}" alt="" style="height: 6vh;width: 3vw;border-radius: 50%;">
              <p style="font-weight: bold;">{{userName}}</p>
              <textarea type="text" [(ngModel)]="textPost3" placeholder="Post your reply  .."
              style="min-height: 6vh;border: solid blue 2px;"></textarea>
            </div>

            <button (click)="postCommentOnComment(textPost3)" style=" background:linear-gradient(#0071a2,#04b3cb);color: #fff;text-align: center;width: 5vw;
            display: flex;align-items: center;justify-content: center;margin-left: 30vw;margin-top: 25px;padding: 10px;
            border-radius: 30px;cursor: pointer;"> REPLY</button>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="commentOnCommentFeeds" class="feeds">
      <div class="foll">
        <button (click)="yourFollower()">Following</button>
        <button>For you </button>
      </div>

      <div class="commentFeed">
        <div class="postContent" style="height: auto;min-height: 3vh;">
          <img src="{{image}}" alt="" style="height: 6vh;width: 3vw;border-radius: 50%;">
          <p style="font-weight: bold;">{{commentUserName}}</p>
        </div>
        <div class="reply" style="width: 30vw;min-height: 3vh;overflow-y:auto;font-size: 25px;">
          <p>{{commentContent}}</p>
        </div>
      </div>

      <div *ngFor="let CCmment of commentComments" class="comments">
        <div class="postContent" style="height: auto;min-height: 3vh;">
          <img src="{{image}}" alt="" style="height: 6vh;width: 3vw;border-radius: 50%;">
          <p style="font-weight: bold;">{{CCmment.userName}}</p>
        </div>
        <div (click)="viewCommentsOnComment(CCmment)" class="replic">
          <p>{{CCmment.content}}</p>
        </div>
        <div class="impress">
          <button (click)="commentComment(CCmment.commentID,CCmment.postID)"><span class="material-symbols-outlined"
            >comment</span></button>
          <button (click)="likeCommentComment2(CCmment.commentID)"
            [class.active]="postLikeStates[CCmment.commentID]">
            <span class="material-symbols-outlined" [class.active]="postLikeStates[CCmment.postID]"
              style="border: solid 0px;font-weight: lighter;">favorite</span>
            <span class="fav" style="font-size: medium;"
              [class.active]="postLikeStates[CCmment.commentID]">{{CCmment.likesCount}}</span>
          </button>
        </div>
      </div>
    </div>

    <!-- specified feeds -->
    <div *ngIf="feeds1" class="feeds">
      <div class="foll">
        <button (click)="yourFollower()">Following</button>
        <button>For you </button>
      </div>
      <div *ngFor="let user of filteredUsers" class="feed">
        <div class="speak">
          <div class="speakImage">
            <img *ngIf="user.profilePic" [src]="getImageDataUrl(user)" alt="Profile Picture">
          </div>
          <div class="speakMessage">
            <div class="speakDetails">
              <p>{{user.userName}} <span style="font-size: 20px;color: #575555;">2h</span></p>
            </div>
            <p style="color: rgb(82, 77, 77);">{{postq}}</p>
            <img src="{{image1}}" alt="">
          </div>

        </div>
        <div class="impress">
          <div *ngIf="modal" class="modal"></div>
          <div *ngIf="postss1" class="postsD" style="height: 60vh;width:40vw;padding: 20px;border-radius: 15px;">
            <p *ngIf="sentSuccess" style="background-color:#0094f5; padding: 10px;color:antiquewhite">Sent
              successfully
            </p>
            <button (click)="cancel()" id="cancel">X</button>
            <div class="postContent" style="height: auto;min-height: 3vh;">
              <img src="{{image}}" alt="" style="height: 6vh;width: 3vw;">
              <p style="font-weight: bold;">{{userName}}</p>
            </div>
            <div class="reply" style="width: 30vw;min-height: 3vh;overflow-y:auto;font-size: 25px;">
              <p>{{postq}}</p>
            </div>

            <div class="postContent" style="height:auto; display: flex;align-items: flex-start;">
              <img src="{{image}}" alt="" style="height: 6vh;width: 3vw;">
              <textarea type="text" [(ngModel)]="textPost2" placeholder="Post your reply  .."
                style="min-height: 6vh;border: solid blue 2px;"></textarea>
            </div>
            <div class="postMedia" style="text-align: center;height: 7vh;width: 40vw;">
              <button style="background-color: #0094f5;color: #fff;text-align: center;width: 10vw;display: flex;align-items: center;
              justify-content: center;margin-left: 35vw;margin-top: 25px;">REPLY</button>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  <div class="others">
    <div *ngIf="profil" class="profil">
      <button (click)="cancell()" id="cancell">X</button>
      <div class="formcontainer">
        <div class="errors"
          style="border: solid gray 0px; height: 50px;width: 20vw;display: flex;align-items: center;justify-content: center;">
          <p *ngIf="err" style="background-color: rgb(206, 68, 68);padding: 10px;width: 15vw;text-align: center;">
            {{updateError}}</p>
          <p *ngIf="success" style="background-color:#0094f5;padding:10px;width: 15vw;text-align: center;">
            {{updateSuccess}}</p>
        </div>
        <form id="signup-form" (ngSubmit)="onSubmit()">
          <div class="input-container">
            <input readonly type="email" placeholder="email" [(ngModel)]="email" name="email" data-cy="email">
          </div>

          <div class="input-container">
            <input type="text" placeholder="username" [(ngModel)]="userName" name="userName" data-cy="userName">
          </div>

          <div class="input-container">
            <input type="password" placeholder="insert password to change" [(ngModel)]="password" name="passwords" data-cy="password">
          </div>
          <button type="submit" data-cy="signup-btn" value="Submit">Change Profile</button>
        </form>

      </div>
    </div>

    <div *ngIf="others" class="man">
      <div class="search">
        <div class="Search">
          <span class="material-symbols-outlined" style="border: solid 0px;">
            search
          </span>
          <input type="text" placeholder="Search" [(ngModel)]="searchTearm" (input)="filterUsers()">
          <div *ngIf="filteredUsers.length === 0" class="no-results-message">Not found</div>
        </div>

      </div>
      <p *ngIf="line" class="line"></p>
      <div *ngIf="filteredUsers" class="suggested">
        <div *ngFor="let user of filteredUsers" class="suggestions">
          <img *ngIf="user.imagePath; else defaultImage" [src]="user.imagePath" alt="User Image">
          <ng-template #defaultImage>
            <img [src]="'../../assets/talk.png'" alt="Default Image">
          </ng-template>
          <p style="font-weight: bold;">{{user.userName}}</p>
          <p style="display: none;">{{user.userID}}</p>
          <button (click)="viewSpecificUser(user)">View</button>
        </div>
      </div>

    </div>

  </div>
